<section>
	<div class="container-fluid m-4 p-4 text-center">
		<h2>Why Business Love Tux</h2>
		<div class="row">
			<div class="col-md-4">
				<p>Increase Restaurant Sales</p>
			</div>
			<div class="col-md-4">
				<p>Ease of Management</p>
			</div>
			<div class="col-md-4">
				<p>Advertising</p>
			</div>
		</div>
	</div>
</section>
<!-- Reasons -->
<section>
	<div class="container-fluid m-4 p-4 text-center">
		<div class="row">
			<div class="col-md-6">
				<h4>Increase Restaurant Sales</h4>
				<p></p>
			</div>
			<div class="col-md-6"></div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<h4>Management</h4>
				<p></p>
			</div>
			<div class="col-md-6"></div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<h4>Advertising</h4>
				<p></p>
			</div>
			<div class="col-md-6"></div>
		</div>
	</div>
</section>
<!-- Features -->
<section>
	<div class="container-fluid m-4 p-4 text-center">
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<h4>Features</h4>
			</div>
			<div class="col-md-3"></div>
		</div>
	</div>
</section>
<!-- Price -->
<section>
	<div class="container-fluid m-4 p-4 text-center">
		<h4>Pricing</h4>
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-4">
				<div class="card">
					<div class="card-top">
						<p>Free</p>
					</div>
					<div class="card-body">
						<p class="card-text">Included</p>
						<ul>
							<li>Create Company Info</li>
							<li></li>
							<li></li>
							<li></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card">
					<div class="card-top">
						<p>$19.99</p>
					</div>
					<div class="card-body">
						<p class="card-text">Included</p>
						<ul>
							<li>Create Company Info</li>
							<li>Access to Admin Dashboard</li>
							<li>Email Notification of All Completed Cards</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>
</section>
<!-- Testimonials -->
<section>
	<div class="container-fluid m-0 p-4" id="testimonials">
		<h3 class="p-4 text-center">Don't Believe Us, Believe These Trustworthy Guys</h3>
		<div class="row">
			<div class="col-md-6">
				<div class="card">
					<div class="card-body">
						<blockquote class="blockquote">
							<p class="card-text">
								"This was my second marriage, the first time around it was virtually impossible to get my
								groomsman to the tux shop for measurements. When they finally did I had to be so involved
								getting their information to the tux shop. With TuxName the process was easy."
							</p>
						</blockquote>
						<div class="card-footer">
							<cite title="Source Title"> -Dave Got It Right The Second Time</cite>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card">
					<div class="card-body">
						<blockquote class="blockquote">
							<p class="card-text">
								"This was my second marriage, the first time around it was virtually impossible to get my
								groomsman to the tux shop for measurements. When they finally did I had to be so involved
								getting their information to the tux shop. With TuxName the process was easy."
							</p>
						</blockquote>
						<div class="card-footer">
							<cite title="Source Title"> -Dave Got It Right The Second Time</cite>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Footer -->
<footer class="container-fluid m-0 p-4 text-center">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<p>Interest in connecting another way, check out our online presence</p>
			</div>
		</div>
		<div class="row" id="reach-out">
			<div class="col-md-3"></div>
			<div class="col-md-3">
				<a href="#" target="_blank">EMAIL</a>
			</div>
			<div class="col-md-3">
				<a href="#">FACEBOOK</a>
			</div>
			<div class="col-md-3"></div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<p>© 2017 Tux</p>
			</div>
		</div>
	</div>
</footer>