<!-- Selectors -->
<navigation-top></navigation-top>
<section>
	<h1 class="mb-3">Weddings</h1>
	<button class="m-4">Create Wedding</button>
	<table class="table justify-content-center table-striped table-bordered table-hover">
		<tr>
			<th>Number</th>
			<th>Name</th>
			<th>Wedding Date</th>
			<th>Return By Date</th>
			<th>Card Received</th>
			<th>Status</th>
		</tr>
		<tr>
			<th>1</th>
			<th>Zach</th>
			<th>9/23/17</th>
			<th>9/1/17</th>
			<th>3 of 6 (50%)</th>
			<th>Need Review</th>
		</tr>
	</table>
</section>