<!-- Selectors -->
<sign-up></sign-up>
<sign-in></sign-in>
<!-- Navbar -->
	<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
		<a class="navbar-brand" href="#">Tux</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="#">Company</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#" data-toggle="modal" data-target="#join">Signup</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#" data-toggle="modal" data-target="#login">Login</a>
				</li>
			</ul>
		</div>
	</nav>
	<!-- Jumbotron-->
	<div class="jumbotron jumbotron-fluid" id="landing-page-jumbo">
		<div class="container">
			<h1 class="display-3">Tux</h1>
			<p class="lead">Modern Management for the Modern Man</p>
		</div>
	</div>
	<!-- How It Works -->
	<div class="container-fluid m-3">
		<div class="row">
			<div class="col-md-6 p-4 align-middle">
				<h2 class="section-title">Hassle-free wedding rentals</h2>
				<p class="text-secondary">We handle every part of the process all you need to do is create your wedding, and choose your tux shop and
					add your groomsmen's name and email.</p>
				<p class="text-secondary">We send reminders and get your groomsman information to the store without any work for
					you so you can focus on other duties.</p>
				<p class="text-secondary">And believe it or not this is complete free (probably the only thing during your wedding that will
					be)</p>
				<a class="call-to-action" href="#" data-toggle="modal" data-target="#join">GET STARTED</a>
			</div>
			<div class="col-md-6 p-4 justify-content-center">
				<img class="image-landing" src="https://dl.dropboxusercontent.com/s/ccbe6rnfspx90bs/computer.jpg?dl=0" alt="computer">
			</div>
		</div>
	</div>
	<!-- The Process -->
	<div class="container-fluid m-3 p-3 even">
		<h5 class="section-title text-center">What You Get</h5>
		<div class="row">
			<div class="col-md-4 justify-content-center">
				<i class="fa fa-id-card-o fa-3x" aria-hidden="true"></i>
					<h4 class="mb-0 text-center">Electronic Cards</h4>
					<p class="step-detail mt-0 text-center">Provide your name and email as well as your a few wedding details.</p>
				</div>
			<div class="col-md-4 justify-content-center">
					<i class="fa fa-sitemap fa-3x" aria-hidden="true"></i>
					<h4 class="mb-0 text-center">Management Dashboard</h4>
					<p class="step-detail mt-0 text-center">Quickly & Easily see wh has submitted their measurements</p>
				</div>
			<div class="col-md-4 justify-content-center">
					<i class="fa fa-comments-o fa-3x" aria-hidden="true"></i>
					<h4 class="mb-0 text-center">Automated Notifications</h4>
					<p class="step-detail  mt-0 text-center">All we ask for is there name and email to get them started</p>
				</div>
			</div>
	</div>
<!-- Your Job -->
<div class="container-fluid m-3">
	<div class="row">
		<div class="col-md-6 p-4">
			<h3 class="text-align-center">Your Job</h3>
			<p class="text-secondary"><span class="numbers num-01">01</span> Sign up</p>
			<p class="text-secondary"><span class="numbers num-02">02</span> Choose Your Tux Shop</p>
			<p class="text-secondary"><span class="numbers num-03">03</span> Give Us A Few Wedding Details</p>
			<p class="text-secondary"><span class="numbers num-04">04</span> Add Your Groomsman's name, email and (only if you want) their phone number</p>
		</div>
		<div class="col-md-6 p-4 justify-content-center">
			<img class="image-landing" src="https://dl.dropboxusercontent.com/s/3zzi8dbqv3lkngw/IMG_2385.JPG.jpeg?dl=0" alt="wedding">
		</div>
	</div>
</div>
<!-- Our Job -->
<div class="container-fluid m-3">
	<div class="row">
		<div class="col-md-6 p-4 justify-content-center">
			<img class="image-landing" src="https://dl.dropboxusercontent.com/s/3zzi8dbqv3lkngw/IMG_2385.JPG.jpeg?dl=0" alt="wedding">
		</div>
		<div class="col-md-6 p-4">
			<h3 class="text-align-center">Our Job</h3>
			<p class="text-secondary"><span class="numbers num-01">01</span> Sign up</p>
			<p class="text-secondary"><span class="numbers num-02">02</span> Choose Your Tux Shop</p>
			<p class="text-secondary"><span class="numbers num-03">03</span> Give Us A Few Wedding Details</p>
			<p class="text-secondary"><span class="numbers num-04">04</span> Add Your Groomsman's name, email and (only if you want) their phone number</p>
		</div>
	</div>
</div>
	<!-- Testimonials -->
	<div class="container-fluid m-0 p-4 even" id="testimonials">
		<h3 class="p-4 text-center">Don't Believe Us, Believe These Trustworthy Guys</h3>
		<div class="row">
			<div class="col-md-4">
				<div class="card">
					<div class="card-body">
						<blockquote class="blockquote">
							<p class="card-text">
								"This was my second marriage, the first time around it was virtually impossible to get my
								groomsman to the tux shop for measurements. When they finally did I had to be so involved
								getting their information to the tux shop. With TuxName the process was easy."
							</p>
						</blockquote>
					</div>
					<div class="card-footer">
						<cite title="Source Title"> -Dave Got It Right The Second Time</cite>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card">
					<div class="card-body">
						<blockquote class="blockquote">
							<p class="card-text">
								"This was my second marriage, the first time around it was virtually impossible to get my
								groomsman to the tux shop for measurements. When they finally did I had to be so involved
								getting their information to the tux shop. With TuxName the process was easy."
							</p>
						</blockquote>
					</div>
					<div class="card-footer">
						<cite title="Source Title"> -Dave Got It Right The Second Time</cite>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card">
					<div class="card-body">
						<blockquote class="blockquote">
							<p class="card-text">
								"This was my second marriage, the first time around it was virtually impossible to get my
								groomsman to the tux shop for measurements. When they finally did I had to be so involved
								getting their information to the tux shop. With TuxName the process was easy."
							</p>
						</blockquote>
					</div>
					<div class="card-footer">
						<cite title="Source Title"> -Dave Got It Right The Second Time</cite>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Companies Info -->
	<div class="container-fluid m-4 p-4 text-center">
		<div class="row">
			<div class="col-md-12">
				<h3>Why All The Hype?</h3>
				<p>Are you a store curious to learn about the hype?</p>
				<p>TuxName is making the process of managing rentals even easier for you.</p>
				<p>We are always looking to add new, check out our Company page for more details about how it works for
					your business.</p>
				<button type="button" class="btn btn-outline-primary">Check Out the Company Page</button>
			</div>
		</div>
	</div>
	<!-- Footer -->
	<footer class="container-fluid m-0 p-4 text-center">
			<div class="row">
				<div class="col-md-6">
					<p>© 2017 Tux. All Rights Reserved</p>
				</div>
				<div class="col-md-3"></div>
				<div class="col-md-3"></div>
			</div>
	</footer>
