<div class="wrapper">

	<nav id="sidebar">
		<!-- Sidebar Header -->
		<div class="sidebar-header">
			<h3>Menu</h3>
		</div>

		<!-- Sidebar Links -->
		<ul class="list-unstyled components">
			<li class="active"><a href="#">Home</a></li>
			<li><a href="#">Wedding</a></li>
			<li><a href="#">Card</a></li>
			<li><a href="#">Admin</a></li>
			<li><a href="#">Sign Out</a></li>
		</ul>
	</nav>
</div>

<div id="content">
	<button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
		<i class="glyphicon glyphicon-align-left"></i>
		Menu
	</button>
</div>