<!-- Selectors -->
<navigation-top></navigation-top>
<add-groomsman></add-groomsman>

<section class="m-3">
	<h1 class="mb-3">Weddings Details</h1>
	<h6 class="m-2">Wedding Name:</h6>
	<h6 class="m-2">Wedding Party Admin:</h6>
	<h6 class="m-2">Return By Date:</h6>
	<h6 class="m-2">Wedding Date:</h6>
	<h6 class="m-2">Store:</h6>
	<a href="#" data-toggle="modal" data-target="#addGroomsman" class="create-button my-4">Add A Groomsman</a>
	<table class="table text-center table-striped table-bordered table-hover mt-4">
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Phone</th>
			<th>Card Number</th>
			<th>Card Submitted</th>
			<th>Card Confirmed</th>
			<th>Send Reminder</th>
			<th>Edit Details</th>
		</tr>
		<tr>
			<td>Zach Spangler</td>
			<td>zaspangler@gmail.com</td>
			<td>505-555-5555</td>
			<td>Yes</td>
			<td>Yes</td>
			<td>No</td>
			<td>
				<i class="fa fa-envelope" aria-hidden="true"></i>
			</td>
			<td>
				<i class="fa fa-pencil" aria-hidden="true"></i>
			</td>
		</tr>
	</table>
</section>