/**************
*GLOBAL
****************/

body {
	font-family: 'Lato Light',Helvetica,sans-serif;
}

.call-to-action {
	text-decoration: none;
	color: #DC5D54;
}

.image-landing {
	background-size: contain;
	height: 25em;
	width: auto;
}

.create-button {
	text-decoration: none;
	color: dodgerblue;
	padding: .7em;
	background-color: transparent;
	border: 2px solid dodgerblue;
	border-radius: 10px;
}

a.create-button:hover {
	text-decoration: none;
	color: white;
	padding: .7em;
	background-color: dodgerblue;
	border: 2px solid white;
	border-radius: 10px;
}

.even {
	background-color: lightgray;
}

/**************
*LANDING PAGE
****************/

/* JUMBOTRON */
#landing-page-jumbo {
	background-image: url("https://dl.dropboxusercontent.com/s/g2zstjehmkpveea/IMG_2314.JPG.jpeg");
	background-size: cover;
	background-position: center;
	height: 35em;
}

/* FEATURES */

/* JOBS */
.numbers {
	font-weight: bold;
	color: black;
	font-size: 2em;
}

.num-01 {
	writing-mode: vertical-rl;
	text-orientation: upright;
}

.num-02 {
	writing-mode: vertical-lr;
	text-orientation: sideways;
}

.num-03 {
	writing-mode: vertical-lr;
	text-orientation: upright;
}

.num-04 {
	writing-mode: vertical-rl;
	text-orientation: mixed;
}